.dashboard {
    margin-top: 1.5rem;

    &__content {
        display: flex;
        column-gap: 1.5rem;

        &-sidebar {
            width: 300px;
            max-width: 300px;
            min-width: 300px;
            border-radius: 16px;
            background: #fff;
            padding: 2rem;

            &__profile {
                display: flex;
                align-items: center;
                gap: 5px;

                img {
                    border-radius: 8px;
                    width: 60px;
                }
            }

            &__menu {
                padding: 0;
                margin-top: 1.5rem;

                &-item {
                    list-style: none;

                    a {
                        padding: 10px;
                        border-radius: 8px;
                        color: $google;
                        font-size: 1rem;
                        font-weight: normal;
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        transition: $trs;

                        &:hover {
                            background: $uploading-bg;
                        }
                    }

                    img {
                        width: 1.27rem;
                    }

                    &--active {
                        a {
                            color: $blue-dark;
                            font-weight: 600;
                            background: $uploading-bg;
                        }

                        img {
                            filter: brightness(0) saturate(100%) invert(24%) sepia(44%) saturate(1015%) hue-rotate(190deg) brightness(95%) contrast(97%);
                        }
                    }
                }
            }
        }
    }
}