.dashboard {
    margin: 1.5rem 0;
    &__main {
        height: 100%;
        gap: 1.5rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
    &__content {
        display: grid;
        grid-template-columns: 300px 1fr;
        column-gap: 1.5rem;

        &-sidebar {
            width: 300px;
            max-width: 300px;
            min-width: 300px;
            border-radius: 16px;
            background: #fff;
            padding: 2rem;

            &__profile {
                display: flex;
                align-items: center;
                gap: 12px;

                img {
                    border-radius: 8px;
                    width: 60px;
                }

                span {
                    font-weight: 600;
                }

            }

            &__menu {
                padding: 0;
                margin-top: 1.5rem;

                &-item {
                    list-style: none;

                    a {
                        padding: 11px 15px;
                        margin-bottom: 5px;
                        border-radius: 8px;
                        color: $google;
                        font-size: 1rem;
                        font-weight: normal;
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        transition: $trs;

                        &:hover {
                            background: $uploading-bg;
                        }
                    }

                    img {
                        width: 1.27rem;
                    }

                    &--active {
                        a {
                            color: $blue-dark;
                            font-weight: 600;
                            background: $uploading-bg;
                        }

                        img {
                            filter: brightness(0) saturate(100%) invert(24%) sepia(44%) saturate(1015%) hue-rotate(190deg) brightness(95%) contrast(97%);
                        }
                    }
                }
            }
        }

        &-main {
            background: #fff;
            border-radius: 16px;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            width: 100%;
        }   
    }
}

.table__buskadent {
    width: 100%;

    // background: red;
    thead {
        width: 100%;
        background: $blue-light;
        border-radius: 4px;
        display: table-header-group;

        tr {
            position: relative;
            display: table-row;
            
            td {
                font-size: .8rem;
                color: white;
                padding: 10px 18px;
            }
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid $hr;
            
            td {
                position: relative;
                &:nth-child(1) {
                    &::before {
                        content: '⋮';
                        position: absolute;
                        top: 4px;
                        left: 5px;
                        font-size: 1.34rem;
                        animation: $fadeInLeft;
                        display: none;
                        cursor: pointer;
                    }
                }
                font-size: .78rem;
                padding: 10px 18px;

                &.details {
                    color: $blue-light;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
        &:hover {
            td:nth-child(1) {
                &::before {
                    display: block;
                }
            }
        }
        }
    }
}

.order__by {
    position: relative;
    display: inline-flex;
    width: auto;
    align-items: center;
    gap: 10px;
    font-size: .8rem;
    margin-right: 1rem;
    &-current {
        color: $blue-button;
        span {
            display: block;
            font-weight: 500;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
    }
    &-content {
        position: absolute;
        top: 26px;
        left: 44px;
        width: 140px;
        background: white;
        box-shadow: 0 0 10px #00000026;
        z-index: 2;
        display: none;
        animation: $fadeIn;
        &-item {
            padding: 10px;
            cursor: pointer;
            transition: $trs;
            &:hover {
                background: #00000010;
            }
            &--active {
                font-weight: bold;
            }
        }
        &--active {
            display: block;
        }
    }
}
.not__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    img {
        width: 17rem;
        max-width: 100%;
    }
    p {
        text-align: center;
        font-weight: 500;
    }
}